<a href="https://colab.research.google.com/github/muhammadfitrialananda/MUHAMMAD-FITRIAL-ANANDA_2C1240046/blob/main/Copy_of_P8_MUHAMMAD_FTRIAL_ANANDA_2C1240046.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Soal 1 dengan bu sevinurafni
S = [4, 1, -1, 10, 0, 12]

D = int(input("Masukkan nilai D: "))

S = [x * D for x in S]

print("Array setelah dikalikan dengan D:", S)

Masukkan nilai D: 2
Array setelah dikalikan dengan D: [8, 2, -2, 20, 0, 24]

In [ ]:
# Soal 2 dengan bu Sevinurafni
T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
nilai_terbesarT1 = max(T1)
print ("nilai terbesar dari T1 adalah", nilai_terbesarT1)

nilai_terkecilT1 = min(T1)
print ("nilai terkecil dari T1 adalah", nilai_terkecilT1)

T2 = [1, 3, 5, 8, -12, 90, 3, 5]
nilai_terbesarT2 = max(T2)
print ("nilai terbesar dari T2 adalah", nilai_terbesarT2)

nilai_terkecilT2 = min(T2)
print ("nilai terkecil dari T2 adalah", nilai_terkecilT2)

nilai terbesar dari T1 adalah 30
nilai terkecil dari T1 adalah -1
nilai terbesar dari T2 adalah 90
nilai terkecil dari T2 adalah -12

FUNDAMENTAL ARRAY

In [ ]:
arr = [10, 20, 30, 40]
arr

[10, 20, 30, 40]

In [ ]:
list_numbers = [1, 2, 3, 4, 5]
list_numbers

[1, 2, 3, 4, 5]

In [ ]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
list_numbers

[100, 2, 3, 4, 5]

MENDEKLARASIKAN ARRAY

In [ ]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [ ]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
data

[1, 2, 3, 'hello', 5.5]

In [ ]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [ ]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

PEMROSESAN SEKUENSIAL ARRAY

In [ ]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [ ]:
arr = [9, 3, 4, 8, 15, 7, 20, 23, 27, 8, 10, 30, 5, 29]

nilai_maks = max(arr)
print(nilai_maks)
print("jadi rata rata nilai maksimum arr adalah" , nilai_maks)

nilai_min = min(arr)
print(nilai_min)
print("jadi nilai minimum arr adalah" , nilai_min)

penjumlahan = sum(arr)
print(penjumlahan)
print("hasil penjumlahan seluruh elemen arr adalah", penjumlahan)

jumlah_arr = len(arr)
print(jumlah_arr)
print("jadi jumlah seluruh elemen arr adalah" , jumlah_arr)

rata_rata = sum(arr)/len(arr)
print(rata_rata)
print("jadi rata-rata seluruh elemen arr adalah", rata_rata)

30
jadi rata rata nilai maksimum arr adalah 30
3
jadi nilai minimum arr adalah 3
198
hasil penjumlahan seluruh elemen arr adalah 198
14
jadi jumlah seluruh elemen arr adalah 14
14.142857142857142
jadi rata-rata seluruh elemen arr adalah 14.142857142857142