<a href="https://colab.research.google.com/github/muhammadfitrialananda/MUHAMMAD-FITRIAL-ANANDA_2C1240046/blob/main/NANDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tugas 2
sum = 0
i = 5
while i<=100:
  sum +=i
  i+=5
print("jumlah kelipatan 5 antara 1 s.d,100 adalah",sum)

jumlah kelipatan 5 antara 1 s.d,100 adalah 1050

In [ ]:
#tugas 3
N=int(input("masukan nilai N: "))
Jumlah=0
for i in range(5,N+1,5):
  Jumlah += i
print("jumlah kelipatan 5 antara 1 s.'d",N,"adalah",Jumlah)

masukan nilai N: 23
jumlah kelipatan 5 antara 1 s.'d 23 adalah 50